---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ScrollFade from "../components/ScrollFade.astro";
import { getCollection } from "astro:content";
import InfoCard from "../components/InfoCard.astro";
import Skills from "../components/Skills.astro";
import GitHub from "../components/GitHub.astro";
import Contact from "../components/Contact.astro";

const projects = await getCollection("projectsCollection");
---

<Layout>
  <main>
    <h1
      class="font-['Arco'] text-[#D1B3C4] text-6xl text-bold text-center dark:text-[#9F86C0]"
    >
      Welcome!
    </h1>
    <ScrollFade />
    <InfoCard />
    <ScrollFade>
      <section id="projects" class="mb-8 py-4">
        <h1
          class="p-6 font-[Arco] text-[#D1B3C4] text-4xl text-bold text-center dark:text-[#9F86C0]"
        >
          Projects
        </h1>

        <div class="gap-4 grid grid-cols-1 md:grid-cols-2 md:px-20 py-6">
          {
            projects.map((p) => (
              <ProjectCard
                title={p.data.title}
                image={p.data.image}
                description={p.data.description}
                slug={p.slug}
              />
            ))
          }
        </div>
      </section>
    </ScrollFade>

    <ScrollFade>
      <section
        id="skills"
        class="gap-4 grid grid-cols-1 md:grid-cols-2 mb-8 md:px-20 py-6"
      >
        <Skills />
        <GitHub />
        <Contact />
      </section>
    </ScrollFade>
  </main>
</Layout>
