<footer class="md:p-20">
  <div
    class="md:flex md:flex-row justify-between items-center font-bold dark-text-[#9F86C0] text-[#D1B3C4] dark:text-[#5E548E]"
  >
    <div class="flex flex-wrap gap-x-5 gap-y-1 mb-4 md:mb-0 font-bold text-sm">
      <a class="hover:text-[#735D78] dark:hover:text-[#31235c]" href="#aboutme"
        >About me</a
      >
      <a class="hover:text-[#735D78] dark:hover:text-[#31235c]" href="#projects"
        >Projects</a
      >
      <a class="hover:text-[#735D78] dark:hover:text-[#31235c]" href="#skills"
        >Skills</a
      >
      <a
        class="hover:text-[#735D78] dark:hover:text-[#31235c]"
        href="#contactme">Contact me</a
      >
      <a
        class="hover:text-[#735D78] dark:hover:text-[#31235c]"
        href="https://github.com/crisuroll"
        target="_blank">GitHub</a
      >
    </div>
    <p class="m-0 text-sm">©2024 Crisu. All rights reserved.</p>
  </div>
</footer>
