<div class="flex flex-col items-center col-span-1 h-full">
  <div class="bg-[#fef2f9] dark:bg-[#5E548E] p-6 w-full h-full card">
    <h3
      class="mb-4 font-[Starborn] font-bold text-[#D1B3C4] text-3xl text-center dark:text-[#9F86C0]"
    >
      Main skills
    </h3>
    <div
      class="gap-4 grid md:grid-cols-2 p-2 text-[#d2afb6] text-center dark:text-[#231942]"
    >
      <p
        class="hover:bg-[#d2afb6] dark:hover:bg-[#231942] p-2 border border-[#d2afb6] hover:border-[#fef2f9] dark:border-[#231942] rounded-3xl hover:text-[#fef2f9] dark:hover:text-[#635377] transform transition duration-175 hover:scale-105"
      >
        Java + Android
      </p>
      <p
        class="hover:bg-[#d2afb6] dark:hover:bg-[#231942] p-2 border border-[#d2afb6] hover:border-[#fef2f9] dark:border-[#231942] rounded-3xl hover:text-[#fef2f9] dark:hover:text-[#635377] transform transition duration-175 hover:scale-105"
      >
        Python
      </p>
      <p
        class="hover:bg-[#d2afb6] dark:hover:bg-[#231942] p-2 border border-[#d2afb6] hover:border-[#fef2f9] dark:border-[#231942] rounded-3xl hover:text-[#fef2f9] dark:hover:text-[#635377] transform transition duration-175 hover:scale-105"
      >
        React Native
      </p>
      <p
        class="hover:bg-[#d2afb6] dark:hover:bg-[#231942] p-2 border border-[#d2afb6] hover:border-[#fef2f9] dark:border-[#231942] rounded-3xl hover:text-[#fef2f9] dark:hover:text-[#635377] transform transition duration-175 hover:scale-105"
      >
        SQL
      </p>
      <p
        class="hover:bg-[#d2afb6] dark:hover:bg-[#231942] p-2 border border-[#d2afb6] hover:border-[#fef2f9] dark:border-[#231942] rounded-3xl hover:text-[#fef2f9] dark:hover:text-[#635377] transform transition duration-175 hover:scale-105"
      >
        C#
      </p>
      <p
        class="hover:bg-[#d2afb6] dark:hover:bg-[#231942] p-2 border border-[#d2afb6] hover:border-[#fef2f9] dark:border-[#231942] rounded-3xl hover:text-[#fef2f9] dark:hover:text-[#635377] transform transition duration-175 hover:scale-105"
      >
        Docker
      </p>
    </div>
  </div>
</div>
