---
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const project = await getEntryBySlug("projects", slug);
---

<article class="p-6">
  <h1>{project.data.title}</h1>
  <img src={project.data.image} class="p-4 w-40" />
  <p>{project.data.description}</p>
</article>
