---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/index.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>crisu | Portfolio</title>
  </head>
  <body
    class="bg-[url('/img/wallpaper.jpg')] dark:bg-[url('/img/darkwallpaper.jpg')] bg-cover bg-no-repeat mx-auto px-4 py-8 font-[Nunito] container"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
